{% extends 'base.html' %}
{% block content %}
    <body id="page-top">
        {% block title %}<title>{{ title }}</title>{% endblock title %}
        <!-- Navigation-->
         <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">   
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><div class="container">
        <img class="img-fluid mb-3 mb-lg-0" src="static/assets/img/logo.png" alt="LOGO" />
    </div></a> 
                <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                   
                        
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('routes.uvod') }}">Domov</a></li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- UVOD-->
        <header class="odkazy">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Flask odkazy</h1>
                    <h2 class="text-blue-50 mx-auto mt-2 mb-5">Zoznam odkazov na učenie sa <strong>Flasku</strong>.</h2>
                    <a class="btn btn-info js-scroll-trigger" href="#odkazy">Pozri nižšie</a>
                </div>
            </div>
        </header>
       <section class="about-section text-center">
            <div class="container">
                <div class="row">
     <div class="container">
            <img class="img-fluid" src="static/assets/img/flask.png" alt="" /></div>
        </div>
    </div>
</section>
        
         <section class="odkazy-section" id="odkazy">
            
                <div class="row justify-content-center no-gutters">
                    <div class="col-md-10 col-lg-8 mx-auto text-center">
            <div class="d-flex flex-column">
                <hr class="d-none d-lg-block mb-0 ml-0"/>
                <h1 class="text-blue mb-5"><strong>Odkazy na výučbu Flask web aplikacií</strong></h1>
  <div class="p-2"><a href="https://blog.miguelgrinberg.com/post/the-flask-mega-tutorial-part-i-hello-world"><h1><span style="color:  #2fa57e; text-indent: 50px; ">&quot;Flask mega tutoriál&quot;</span></h1></a></div>
  <div class="p-2"><a href="https://naucse.python.cz/lessons/intro/flask/"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;Nauč sa Python&quot;</span></h1></a></div><div class="p-2"><a href="https://www.itnetwork.cz/python/flask/uvod-do-frameworku-flask-a-webovych-aplikaci-v-pythonu"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;Úvod flask&quot;</span></h1>
  </a></div>
   <div class="p-2"><a href="https://www.learn2code.sk/kurzy/flask-python-mikroframework"><h1><span style="color:  #2fa57e; text-indent: 50px; ">&quot;learn2code kurz&quot;</span></h1></a></div>
  <div class="p-2"><a href="https://realpython.com/tutorials/flask/"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;realpython.com&quot;</span></h1></a></div><div class="p-2"><a href="https://www.tutorialspoint.com/flask/index.htm"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;tutorialspoint&quot;</span></h1>
  </a></div>
   <div class="p-2"><a href="https://www.udemy.com/course/web-developer-bootcamp-flask-python/?gclid=Cj0KCQiAgomBBhDXARIsAFNyUqNnQ7J_5mb88n-J5KdHErOZ2pk0VstOPJdaMCLKGyPjj63exZ1BPYMaApkdEALw_wcB&matchtype=b&utm_campaign=LongTail-New_la.EN_cc.ROWMTA-B&utm_content=deal4584&utm_medium=udemyads&utm_source=adwords&utm_term=_._ag_101378284540_._ad_432350093880_._kw_%2Bflask+%2Btutorial_._de_c_._dm__._pl__._ti_kwd-647775758609_._li_9062580_._pd__._"><h1><span style="color:  #2fa57e; text-indent: 50px; ">&quot;Udemy kurz&quot;</span></h1></a></div>

  <div class="p-2"><a href="https://flask.palletsprojects.com/en/1.1.x/quickstart/"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;palletsprojects&quot;</span></h1></a></div><div class="p-2"><a href="https://programminghistorian.org/en/lessons/creating-apis-with-python-and-flask"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;programming&quot;</span></h1>

   <div class="p-2"><a href="https://www.digitalocean.com/community/tutorials/how-to-make-a-web-application-using-flask-in-python-3"><h1><span style="color:  #2fa57e; text-indent: 50px; ">&quot;digitalocean&quot;</span></h1></a></div>
  <div class="p-2"><a href="https://www.fullstackpython.com/flask.html"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;fullstackpython&quot;</span></h1></a></div><div class="p-2"><a href="https://www.freecodecamp.org/news/how-to-build-a-web-application-using-flask-and-deploy-it-to-the-cloud-3551c985e492/"><h1><span style="color: #6dbba1; text-indent: 50px;">&quot;Flask database&quot;</span></h1>
  </a></div>
        </div>
    </div>
    </div>  
</section>
<!-- PÄTA-->
        <footer class="footer bg-black small text-center text-white-50"><div class="container">Copyright © Stefan Jancar 2020</div></footer>
{% endblock %}