{% extends 'base.html' %}
{% block content %}
{% block title %}<title>{{ title }}</title>{% endblock title %}
    <body id="page-top">
        <!-- Navigation-->
        <nav class="navbar navbar-expand-lg navbar-light fixed-top" id="mainNav">
            <div class="container">   
            <a class="navbar-brand js-scroll-trigger" href="#page-top"><div class="container">
        <img class="img-fluid mb-3 mb-lg-0" src="static/img/logo.png" alt="LOGO" />
    </div></a> 
                <button class="navbar-toggler navbar-toggler-right" type="button" 
                data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" 
                aria-expanded="false" aria-label="Toggle navigation">
                    Menu
                    <i class="fas fa-bars"></i>
                </button>
                <div class="collapse navbar-collapse" id="navbarResponsive">
                    <ul class="navbar-nav ml-auto">
                   
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="{{ url_for('routes.cnctutorial') }}">Späť na úvod</a></li>
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('routes.domov') }}">Domov</a></li>
                        <li class="nav-item"><a class="nav-link js-scroll-trigger" href="#components">Komponenty</a></li>
                    </ul>
                </div>
            </div>
        </nav>

        <header class="masthead">
            <div class="container d-flex h-100 align-items-center">
                <div class="mx-auto text-center">
                    <h1 class="mx-auto my-0 text-uppercase">Vytvor si cnc stroj</h1>
                    <h2 class="text-blue-50 mx-auto mt-2 mb-5">Ako si vytvoriť vlastný cnc stroj z PC odpadu?</h2>
                    <a class="btn btn-info js-scroll-trigger" href="#clanky">Poďme na to!</a>
                </div>
            </div>
        </header>
        
        <section class="about-section text-center" id="clanky">
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
                        <h2 class="text-blue mb-4">Vitajte na mojej stránke, rozhodol som sa spraviť tento návod pre ľahší začiatok  a tiež pretože na SK weboch som nič neobjavil . </h2>
                        <p class="text-blue-50">
                            Dúfam, že to bude dosť pochopiteľné a mnohým to otvorí nové obzory ktoré ich posunú
                            ďalej do sfér pokroku v samo-štúdiu novodobých technológii programovania a získania zručností v oblasti cnc a robotiky.
                        </p>
                    </div>
                </div>
                <a href="https://www.sanity.io/guides/the-blog-template"><img class="img-fluid" src="static/img/uvod_cnc.jpg" alt="cnctutorial" /></a>

            </div>
<hr>
            <div class="container">
                <div class="row">
                    <div class="col-lg-8 mx-auto">
            <h4><p class="text-blue-50">
                <table>
                    <thead>
    <tr>
      <th scope="col">Zoznam komponentov</th>
      <th scope="col">Súčiastka</th>
      <th scope="col">Počet kusov</th>
      <th scope="col">Obrázok</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Arduino Uno</td>
      <td>1</td>
      <td><img src="static/img/pol/arduino.png" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>CNC shield V3</td>
      <td>1</td>
      <td><img src="static/img/pol/cnc_shield.png" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Nema17</td>
      <td>2</td>
      <td><img src="static/img/pol/nema_17.png" width="45px" height="45px" /></td>
    </tr>
     <tr>
      <th scope="row">4</th>
      <td>Servo SG90 9g micro motor</td>
      <td>1</td>
      <td><img src="static/img/pol/servo.png" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">5</th>
      <td>A4988 Driver pre krokové motory s hliníkovým chladičom</td>
      <td>2</td>
      <td><img src="static/img/pol/ovladac.jpg" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">6</th>
      <td>Šuflové vodiace lišty</td>
      <td>4</td>
      <td><img src="static/img/pol/vodiace_listy.png" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">7</th>
      <td>Pc zdroj zo starého počítača</td>
      <td>1</td>
      <td><img src="static/img/pol/pc_zdroj.jpg" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">8</th>
      <td>Držiak krokového motora</td>
      <td>2</td>
      <td><img src="static/img/pol/drziak.jpg" width="45px" height="45px" /></td>
    </tr>
    <tr>
      <th scope="row">9</th>
      <td>Tyč závitová nerez M8</td>
      <td>2</td>
      <td><img src="static/img/pol/tz_nerez.jpg" width="45px" height="45px" /></td>
    </tr>
     <tr>
      <th scope="row">10</th>
      <td>Pružná spojka</td>
      <td>2</td>
      <td><img src="static/img/pol/pruzna_spojka.jpg" width="45px" height="45px" /></td>
    </tr>
  </tbody>
</table>

</div>
</div>
</div>
        </section>
        
        
        


       
        </body>

{% endblock %}